.formControls{
    width: 100%;
}

.formControls.error input{
    border-bottom: 1px solid rgb(235, 0, 0) !important;
    box-shadow: 0 1px 0 0 rgb(235, 0, 0) !important;
}

.formControls .errorMessage{
    position: absolute;
    color: rgb(235, 0, 0);
}

.errorForm{
    color: rgb(235, 0, 0);
}
