.anim-enter {
    opacity: 0;
}
.anim-enter-active {
    opacity: 1;
    transition: opacity 500ms ease;
}
.anim-exit {
    opacity: 1;
}
.anim-exit-active {
    opacity: 0;
    transition: opacity 500ms ease;
}

.anim-enter .ModalBill_modal__3qgTe{
    transform: translateY(-200%);
}

.anim-enter-active .ModalBill_modal__3qgTe{
    transform: translateY(0);
    transition: transform 500ms ease;

}

.anim-exit .ModalBill_modal__3qgTe{
    transform: translateY(0);
}
.anim-exit-active .ModalBill_modal__3qgTe{
    transform: translateY(-200%);
    transition: transform 500ms ease;

}