.item{
    width: 100%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(161, 161, 161);
    & label{
        width: 20%;
        @media(max-width: 900px){
            width: 100%;
            margin-bottom: 10px;
        }
    }

    @media(max-width: 900px){
        flex-direction: column;
    }
    @media(max-width: 600px){
        padding: 20px 10px;
    }
}

.name{
    color: #333 !important;
}

.progress{
    width: 50%;
    padding: 0 10px;

    @media(max-width: 900px){
        width: 100%;
        margin-bottom: 5px;
        padding: 0;
    }
}

.line{
    width: 100%;
    height: 5px;
    background-color: rgb(177, 177, 177);
    position: relative;
    overflow: hidden;
}

.subline{
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #31a626;
}

.bill{
    width: 15%;
    text-align: center;
    padding: 0 10px;

    @media(max-width: 900px){
        width: 100%;
        margin-bottom: 10px;
    }
}

.removeBtn{
    cursor: pointer;
    outline: none;
    width: 15%;
    &:focus{
        outline: none;
        background-color: #fff;
        border: 1px solid #333;
    }

    @media(max-width: 900px){
        width: auto;
        padding: 5px 20px;
    }
}