*, *::before, *::after{
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body{
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  background-color: rgb(233, 233, 233);
}

.Add_container__3jjOD.page-enter .Add_date__2gKqf{
  opacity: 0;
  transform: translateY(100%);
}
.Add_container__3jjOD.page-enter-done .Add_date__2gKqf{
  opacity: 1;
  transform: translateY(0);
}

@media(max-width: 600px){
  .recharts-wrapper,
  .recharts-surface{
    width: 100% !important;
  }
  .recharts-surface{
    font-size: 20px;
  }
  .recharts-wrapper{
    margin-top: 20px;
  }
}

@media(max-width: 500px){
  .recharts-wrapper{
    margin-top: -20px;
  }
}

@media(max-width: 450px){
  .recharts-wrapper{
    margin-top: -40px;
  }
}

@media(max-width: 400px){
  .recharts-wrapper{
    margin-top: -60px;
  }
}

@media(max-width: 350px){
  .recharts-wrapper{
    margin-top: -70px;
  }
}

@media(max-width: 320px){
  .recharts-wrapper{
    margin-top: -80px;
  }
}